
@import url('https://fonts.googleapis.com/css?family=Quantico&display=swap');


  h1, h3 {
    font-family: 'Quantico', sans-serif;
    font-size: 50 px;
  }

  .header{
    margin: 100px;
    padding: 50px;
    float: left;
  }