* {
  font-family: Courier;
  font-size: 11pt;
}


html, body{
    height: 100%;
    background: linear-gradient(0deg, #B7D9E3 30.47%, rgba(255, 255, 255, 0) 98.37%), #FFFFFF;
}

.chat {
  width: 478px;
  height: 594px;
  margin-left: auto;
  margin-right: auto;
  background: #FCFCFC;
  border: 1px solid #03A7A7;
  box-sizing: border-box;
  overflow: scroll;
}

.header{
  width: 478px;
  height: 67px;

  background: #03A7A7;
}

#botName{
  width: 142px;
  height: 28px;

  font-family: Roboto;
  font-style: italic;
  font-weight: 900;
  font-size: 24px;
  line-height: 60px;
  margin-left: 10px;

  color: #FFFFFF;
}

.actions {
  position: fixed;
  top: 601px;
    position: absolute;
}

.actions input{

  width: 473px;
  height: 60px;

  background: #FFFFFF;
  border: 1px solid #03A7A7;

}

.messages div {
  max-width: 60%;
  display: block;
  margin: 5px;
  padding: 10px;
  border-radius: 7px;
}

.messages .bot {
  text-align: left;
  margin-right: auto;
  background: lightblue;
}

.messages .self {
  text-align: right;
  margin-left: auto;
  background: #DDD
}

.admin input{
  width: 473px;
  height: 50px;

  background: #FFFFFF;
  border: 1px solid black;
}

#admin h3{
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    font-size: 30px;
}

#admin textarea, button{
    font-family: 'Libre Franklin', sans-serif;
}

#admin form{
    padding-left: 30%;
}

.about{
    position: relative;
    display: inherit;
    top: 80px;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #03A7A7;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-family: 'Bitter', serif;
  font-size: 20px;
}

.tab button:hover {
  background-color: #6DCDCD;
}

.tab button.active {
  background-color: #63C3C3;
}

.tabcontent {
  display: none;
  padding: 6px 12px;

  border-top: none;
}

.tabcontent {
  animation: fadeEffect 1s; 
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

#tituloAbout{
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    font-size: 30px;
}

.subtituloAbout{
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
}

#about p, li{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 15px;
}